{% extends 'app/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bankaccounts_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Bank Accounts</h2>
  <ul class="list-group">
    {% for account in object_list %}
      <li class="list-group-item {% if account.account_type == 'store' %}list-group-item-success{% endif %}">
        <strong>Account ID:</strong> {{ account.account_number }}<br>
        <strong>Bank Name:</strong> {{ account.bank_name }}<br>
        <strong>Account Type:</strong> {{ account.account_type|capfirst }}<br>
        <strong>Balance:</strong> ${{ account.balance }}
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'bankaccount-create' %}" class="btn btn-primary mt-3">Create New Account</a>
</div>
{% endblock %}
