{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bankaccount_form.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="form-container">
    <h2 class="text-center">Create Bank Account</h2>
    <form method="post" class="mt-4">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="id_account_type" class="form-label">Account Type:</label>
        {{ form.account_type|add_class:"form-control" }}
      </div>
      <div class="form-group mb-3">
        <label for="id_balance" class="form-label">Balance:</label>
        {{ form.balance|add_class:"form-control" }}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>
  </div>
</div>
{% endblock %}
