<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <header class="bg-dark text-white p-3 mb-4">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'bankaccount-list' %}">Bank Accounts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'customer-list' %}">Customers</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'product-list' %}">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'invoice-list' %}">Invoices</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'check-list' %}">Checks</a></li>
                </ul>
                <div class="d-flex">
                    <button class="btn btn-primary me-2" onclick="window.location.href='/'">Home</button>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Log out</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        {% if request.user.is_authenticated %}
            <h1 class="username">{{request.user}}</h1>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-link">Login</a>
        {% endif %}
    </div>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybVuLkfj2lriyB7f5i8XXRV9SBCOVVSA4CDEy7i3X2QxP+Xiz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0ey4Lr1qUHA3XjjfGhP2K4e8Kuhk+N4lkk+TptE3j3p6aRYw/Jwu46R8" crossorigin="anonymous"></script>
</body>
</html>
