{% extends 'app/base.html' %}
{% load static %}


{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/customer_list.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Customers</h2>
    <ul class="list-group">
      {% for customer in object_list %}
        <li class="list-group-item">{{ customer.name }} - {{ customer.email }}</li>
      {% endfor %}
    </ul>
    <a href="{% url 'customer-create' %}" class="btn btn-primary mt-3">Create New Customer</a>
  </div>
{% endblock %}
