{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/invoice_form.css' %}">
{% endblock %}

{% block content %}
<div class="container-2 mt-5">
  <div class="form-container">
    <h2 class="text-center">Create Invoice</h2>
    <form method="post" class="mt-4">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="id_invoice_type" class="form-label">Invoice Type:</label>
        {{ form.invoice_type|add_class:"form-control" }}
      </div>
      <div class="form-group mb-3">
        <label for="id_customer" class="form-label">Customer:</label>
        {{ form.customer|add_class:"form-control" }}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>
  </div>
</div>
{% endblock %}
