{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/invoice_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">

        {% if invoice.invoice_type == 'sale' %}
        <div class="card-header bg-primary text-white text-center">
            <h2>Sale Invoice</h2>
        </div>
        {% elif invoice.invoice_type == 'purchase' %}
        <div class="card-header bg-danger text-white text-center">
            <h2>Purchase Invoice</h2>
        </div>
        {% endif %}

        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Invoice Number:</th>
                        <td>{{ invoice.invoice_number }}</td>
                    </tr>
                    <tr>
                        <th>Customer:</th>
                        <td>{{ invoice.customer.name }}</td>
                    </tr>
                    <tr>
                        <th>Date:</th>
                        <td>{{ invoice.date }}</td>
                    </tr>
                    <tr>
                        <th>Total Amount:</th>
                        <td>${{ invoice.total_amount }}</td>
                    </tr>
                </tbody>
            </table>

            <h4 class="mt-4">Items</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'invoiceitem-create' invoice.id %}" class="btn btn-secondary mt-3">Add Item</a>
            <a href="{% url 'process-invoice' invoice.id %}" class="btn btn-primary mt-3 submit-btn " >Submit Invoice</a>
        </div>
    </div>
</div>
{% endblock %}