{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_form.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Create Product</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_name">Name:</label>
          {{ form.name|add_class:'form-control'}}
        </div>
        <div class="form-group">
          <label for="id_price">Price:</label>
          {{ form.price|add_class:'form-control'}}
        </div>
        <div class="form-group">
          <label for="id_quantity">Quantity:</label>
          {{ form.quantity|add_class:'form-control' }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
