.card {
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0;
}

.form-group {
    margin-bottom: 15px;
}

.modal.show {
    display: block;
}

.modal-header{
    color: antiquewhite;
    background-color: crimson;
}

.close-btn{
    background-color: #007bff;
}